@import 'https://fonts.googleapis.com/css?family=Raleway:400,800';
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: sans-serif;
  background-color: white;
  color: black;
  margin: 0; }

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); }
  #navigation ul {
    margin: 0;
    list-style: none;
    list-style-image: none;
    text-align: center; }
  #navigation li {
    width: 16.6666667%;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    font-weight: 400; }
  #navigation a {
    color: #000;
    text-decoration: none; }

header {
  text-align: center;
  margin: 0 auto; }

h1 {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase; }

.content {
  padding-top: 0px;
  padding-bottom: 0px; }

.number {
  color: red;
  background-color: white;
  border: 5px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  font-weight: 800;
  line-height: 40px;
  font-size: 1.3em;
  margin-top: 20px; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.meet-intro header {
  width: 360px;
  margin-top: 180px; }

.meet-intro h1 {
  font-size: 84px;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: -5px; }

.message-parent {
  border-bottom: 1px black solid;
  border-top: 1px black solid; }

.message {
  border-bottom: 1px solid black;
  text-align: left; }
  .message .message-row .md {
    color: gray;
    padding: 0; }
  .message .message-details {
    border-top: 1px black dashed;
    width: 100%; }
    .message .message-details p {
      display: inline-block;
      padding: 10px; }
  .message h1 {
    display: inline-block; }
  .message div {
    padding: 10px; }
  .message a {
    color: #000; }

.selected-pane {
  transition: all 1s;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 56;
  color: black;
  overflow-y: auto; }
  .selected-pane.selected {
    max-height: 100%; }
  .selected-pane.hidden {
    max-height: 0; }
  .selected-pane .close {
    position: absolute;
    top: 10;
    right: 10;
    text-decoration: underline;
    cursor: pointer; }

code {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  width: 100%; }
